.red{
	color:#e44;
}

.green{
	color:#0a0;
}

.blue{
	color:#44e;
}

.gray{
	color:#aaa;
}

.emph{
	color:#c44;
}

p.caption{
	margin-top:-0.8em;
	font-size:0.5em;
	text-align:center;
	font-weight:bold;
}

.big{
	text-align:center;
	margin-top:1em;
	font-size:2.5em !important;
}

.compact{
	letter-spacing: -0.05em;
}

.hidden{
	display:none;
}

/* Pseudo slides */
.hidden.deck-current{
	display:block;
}

.deck-current ~ .pseudo-slide,
.deck-before .pseudo-slide{
	display:none;
}


/* Specific Slides */
#start .vcenter{
	font-weight:normal;
	line-height:1.1em;
}

#start h2{
	line-height:1.1em;
}

#start h4{
	font-size:0.5em;
	line-height:0.8em;
	font-family:inherit;
	text-transform:uppercase;
	color:#505050;
}

#start .powered-by{
	position:absolute;
	bottom:10px;
	left:0;
	right:0;
	font-size:14px;
	text-align:center;
}
