.red{
	color:#e44;
}

.green{
	color:#0a0;
}

.blue{
	color:#44e;
}

.gray{
	color:#aaa;
}

.emph{
	color:#c44;
}

span.sup{
	font-size: 0.6em;
	vertical-align: super;
}

p.caption{
	margin-top:-0.8em;
	font-size:0.5em;
	text-align:center;
	font-weight:bold;
}

.big{
	text-align:center;
	margin-top:1em;
	font-size:2.5em !important;
}

.compact{
	letter-spacing: -0.05em;
}

.formula{
	display:inline !important;
	vertical-align:middle !important;
	margin:0 2px !important;
}

.hidden{
	display:none;
}

.slide h6{
	font-size:0.5em;
	line-height:0.8em;
	font-family:inherit !important;
	text-transform:uppercase;
	color:#505050;
	text-align:center;
}

/* Plots */
.slide .plot{
	display:inline-block;
	max-width:50%;
	text-align:center;
	margin-bottom:1em;
}

.slide .plot img{
	display:inline;
	max-width:100%;
	margin:0;
}

.slide .plot.slide,
.slide .plot.pseudo-slide,
.slide .plot:first-of-type:last-of-type{
	width:100%;
	max-width:100%;
}

.slide .plot.hidden{
	display:none;
}

/* Pseudo slides */
.slide .hidden.deck-current{
	display:block;
}

.slide .deck-current ~ .pseudo-slide,
.deck-before .pseudo-slide{
	display:none;
}


/* Specific Slides */
#start .vcenter{
	font-weight:normal;
	line-height:1.1em;
}

#start h2{
	line-height:1.1em;
}

#start .powered-by{
	position:absolute;
	bottom:10px;
	left:0;
	right:0;
	font-size:14px;
	text-align:center;
}


#toasty{
	position:fixed;
	bottom:0;
	right:0;
	z-index:99999;
}

#toasty img{
	display:block;
	position:relative;
	left:100%;
}

#toasty.show img{
	animation-duration:1000ms;
	animation-name:slidein;
}

@keyframes slidein{
	0%{
		left:100%;
	}
	
	33%{
		left:0;
	}
	
	66%{
		left:0;
	}
	
	100%{
		left:100%;
	}
}
